#corps {
    flex-direction: column;
    align-items: center;
    background-color: rgb(151, 151, 151);
    background-image: url('#');

}


/*--------Pour agrandire mon contenu de ma boxGame je modifie la hauteur de ma div 'parentGame' directment 
cela ajustera mon contenu directement----------*/
#parentGame {
    position: relative;
    margin-top: 20px;
    height: 500px;
    width: 100%;
    margin-bottom: 3%;
}


#boxGame {
    position: absolute;
    margin-top: 40px;
    height: 100%;
    width: 100%;
    border: solid rgb(255, 255, 255) 1px;
    background-color: #567188;
    border-radius: 5px;
}


#BlocOnglet {
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.onglet {
    height: 30%;
    width: 20%;
    text-align: center;
    color: whitesmoke;
    margin-top: 20px;
    border: solid rgb(255, 255, 255) 1px;
    border-radius: 5px;
    background-color: rgba(240, 248, 255, 0.279);
    transition: 0.5s;
    cursor: pointer;
}

.onglet:hover {
    margin-top: 10px;
    transition: 0.5s;
    color: rgb(177, 131, 2);
    background-color: rgba(240, 248, 255, 0.728);
}

.visible {
    opacity: 100%;
    transition: 1s;
}

.noVisible {
    opacity: 0%;
    visibility: hidden;
    transition: 1s;
}

.ongletOpen {
    height: 30%;
    width: 20%;
    text-align: center;
    border: solid rgb(255, 255, 255) 1px;
    border-radius: 5px;
    margin-top: 10px;
    color: rgb(177, 131, 2);
    background-color: rgba(240, 248, 255, 0.728);
}

#searchGame {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 3%;
    background-color: rgb(128, 127, 127);
    height: 50px;
    width: 70%;
    border-radius: 5px;
    border: solid rgb(255, 255, 255) 1px;
}

.search {
    width: 50%;
}

.search::placeholder {
    color: rgba(128, 128, 128, 0.892);
}

.boutonSearch {
    margin-left: 2%;
    width: 10%;
    height: 16px;
    border-radius: 5px;
    background-color: rgba(135, 135, 135, 0.792);
    border: solid rgba(255, 255, 255, 0);
    background-size: 110% 110%;
    background-repeat: no-repeat;
}

.boutonSearch:hover {
    background-color: rgb(207, 207, 207);
}

.catégorie {
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
    width: 90%;
    margin: 1%;
    margin-left: 60px;
    border-radius: 5px;
}

/*----------------------------UserBox-------------------------------*/
#boxUser {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2%;
    height: 250px;
    width: 80%;
    border: solid rgb(255, 255, 255) 1px;
    border-radius: 100px;
    background-color: rgba(25, 60, 90, 0.587);
    box-shadow: rgba(117, 117, 117, 0.788) 5px 5px 5px;
}

#avatarUser {
    height: 200px;
    width: 200px;
    border-radius: 15%;
    background-image: url('#');
    background-color: #cbcbcb;
    margin-right: 2%;
}

#profilUser {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 200px;
    width: 400px;
}
.textUser {
margin-left: 5%;
color: whitesmoke;
font-size: 35px;
}
.badgeUser {
    margin-left: 5%;
    color: rgb(171, 133, 44);
    font-size: 20px;
}
#boiteBadge {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin-left: 5%;
}
#badgeRecomp {
    height: 40px;
    width: 40px;
    margin: 10px;
    margin-left: 20px;
    border-radius: 100%;
    background-image: url('#');
    background-color: #a0873d;
}

#cardUser {
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    width: 20%;
   
}
.cardBUser {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 200px;
    width: 170px;
    padding: 5px;
    border-radius: 15px;
    border: solid #eeaf02 1px;
    background-color: #a2a2a2;
    box-shadow: rgba(0, 0, 0, 0.295) 5px 5px 5px;
}
.cardFUser {
    text-align: center;
    font-size: 100%;
    width: 90%;
    height: 90%;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}
/*----------------------------OngletOne-------------------------------*/
#ongletOne {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}
/*----------------------------CardGame------------------------------*/
#cardGame {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-content: flex-start;
    margin: 2%;
    width: 100%;
}

.cardB {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0.9%;
    margin-left: 2.5%;
    height: 400px;
    width: 220px;
    padding: 5px;
    row-gap: 2px;
    border-radius: 15px;
    border: solid #eeaf02 1px;
    background-color: #a2a2a2;
    box-shadow: rgba(0, 0, 0, 0.295) 5px 5px 5px;
}

.cardF {
    text-align: center;
    font-size: 100%;
    width: 90%;
    height: 60%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin: 0%;
}

.titre {
    color: rgb(177, 131, 2);
    margin: 10px;

}

.image {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.pochette {
    height: 85%;
    border-radius: 10px;
    background-color: rgb(222, 180, 67);
    border: solid rgb(222, 180, 67) 1px;
    margin: 0%;
}

.ligne1,
.ligne2,
.ligne3 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    height: 5%;
    width: 90%;
    border-radius: 10px;
    text-align: center;
    color: rgb(198, 150, 16);
    box-shadow: 0px 5px 0px rgb(195, 194, 205);
    background-color: rgb(255, 255, 255);
    margin: 0%;
}

.icon {
    height: 80%;
}

.ligne2:hover {
    color: white;
    background-color: rgb(106, 106, 106);
}

.ligne3:hover {
    color: white;
    background-color: rgb(106, 106, 106);
}

/*---------------- barre de progression ------------------*/
:root {
    --success: #00b894;
    --progress: #e17055;
}

.progressbar-wrapper {
    text-align: center;
    background-color: #dfe6e9;
    color: white;
    border-radius: 10px;
    width: 90%;
    box-shadow: 0px 5px 0px rgba(146, 146, 146, 0.623);
}

.progressbar {
    background-color: var(--progress);
    color: white;
    text-align: right;
    font-size: 17px;
    border-radius: 10px;
}

.progressbar[title="downloading"] {
    background-color: var(--progress);
}

.progressbar[title="downloaded"] {
    background-color: var(--progress);
}

.mp4 {
    width: 70%;
}

/*---------------- barre de progression ------------------*/

/*---------------------OngletTwo---------------------------*/
#ongletTwo {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;

}

.scroller {
    overflow-y: scroll;
}

#ongletTwo::-webkit-scrollbar {
    width: 10px;
    /* width of the entire scrollbar */
}

#ongletTwo::-webkit-scrollbar-thumb {

    background-color: rgb(221, 221, 221);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid rgba(56, 56, 56, 0);
    /* creates padding around scroll thumb */
}

/*---------------------OngletThree---------------------------*/
#ongletThree {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}







/*---------------------OngletFour---------------------------*/
#ongletFour {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    background-color: rgba(63, 42, 165, 0.532);
}