#corps {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    align-content: center;
    height: auto;
    background-image: url(#);
}


/*--------Pour agrandire mon contenu de ma boxGame je modifie la hauteur de ma div 'parentGame' directment 
cela ajustera mon contenu directement----------*/
#parentGame {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 60vw;
    width: 100%;
    margin-bottom: 3%;
}

#boxGame {
    position: absolute;
    margin-top: 40px;
    height: 90%;
    width: 90%;
    border: solid rgb(188, 116, 0) 0.5px;
    border-radius: 5px;
}


#BlocOnglet {
    z-index: 1;
    height: 100%;
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.onglet {
    height: 30%;
    width: 20%;
    text-align: center;
    color: whitesmoke;
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgba(176, 176, 176, 0.279);
    transition: 0.5s;
    cursor: pointer;
}

.onglet:hover {
    margin-top: 10px;
    transition: 0.5s;
    color: rgb(167, 127, 19);
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.863);
}

.visible {
    opacity: 100%;
    transition: 0.5s;
}

.noVisible {
    opacity: 0%;
    visibility: hidden;
    transition: 0.5s;
}

.ongletOpen {
    height: 30%;
    width: 20%;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    border: solid rgb(188, 116, 0) 0.5px;
    margin-top: 10px;
    color: rgb(167, 127, 19);
    background-color: rgba(255, 255, 255, 0.863);
}

.catégorie {
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
    width: 90%;
    margin: 1%;
    margin-left: 60px;
    border-radius: 5px;
}

#boitecontainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/*----------------------------UserBox-------------------------------*/
#boxUser {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1%;
    margin-right: 2%;
    margin-bottom: 2%;
    height: 200px;
    width: 70%;
    border: solid rgb(188, 116, 0) 0.5px;
    border-radius: 10px;
}

#avatarUser {
    height: 170px;
    width: 170px;
    border-radius: 15%;
    background-image: url('../img/koopa.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.3);
}

#psnPlus {
    height: 30px;
    margin-left: 10%;
}

#profilUser {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50%;
    width: 400px;
}

.textUser {
    margin-left: 5%;
    color: whitesmoke;
    font-size: 35px;
}

.badgeUser {
    margin-left: 5%;
    color: #ab852c;
    font-size: 20px;
}

#boiteBadge {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: 5%;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
}

#numberTrophée {
    color: whitesmoke;
    margin-right: 2%;
}

#badgeRecomp {
    height: 40px;
    width: 40px;
    margin: 10px;
    margin-left: 20px;
}

#cardUser {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
}

.cardBUser {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 200px;
    width: 170px;
    padding: 5px;
    border-radius: 15px;
    border: solid #eeaf02 1px;
    background-color: #a2a2a2;
    box-shadow: rgba(0, 0, 0, 0.295) 5px 5px 5px;
}

.cardFUser {
    text-align: center;
    font-size: 100%;
    width: 90%;
    height: 90%;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

/*------------------------------*/
#compteGameUser {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 1%;
    margin-right: 27%;
    margin-top: -6%;
    height: 45px;
    width: 70%;
    border: solid rgb(188, 116, 0) 0.5px;
    border-radius: 10px;
}

#boiteCompte {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    border-radius: 15px;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.356);
    cursor: pointer;
    transition: 0.5s;
}

#boiteCompte:hover {
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.5s;
}

#psn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 15%;
    background-image: url('../img/psnNonValide.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

#xbox {
    height: 40px;
    width: 40px;
    border-radius: 15%;
    background-image: url('../img/xboxNonValide.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.titlePsn,
.titleXbox,
.titleNintendo,
.titleSteam {
    font-size: 15px;
    color: whitesmoke;
}

#nintendo {
    height: 40px;
    width: 40px;
    border-radius: 15%;
    background-image: url('../img/nintendoNonValide.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

#steam {
    height: 40px;
    width: 40px;
    border-radius: 15%;
    background-image: url('../img/steamNonValide.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

/*------------------------------*/
/*----------------------------historiqueGame-------------------------------*/
#boxHG {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1%;
    height: 300px;
    width: 250px;
    border: solid rgb(188, 116, 0) 0.5px;
    border-radius: 10px;
}

/*----------------------------historiqueGame-------------------------------*/
/*----------------------------OngletOne-------------------------------*/
#ongletOne {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

#ongletOne::-webkit-scrollbar {
    width: 10px;
    /* width of the entire scrollbar */
}

#ongletOne::-webkit-scrollbar-thumb {

    background-color: rgb(221, 221, 221);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid rgba(56, 56, 56, 0);
    /* creates padding around scroll thumb */
}

#searchGame {
    font-size: 20px;
    height: 30px;
    width: 70%;
    color: whitesmoke;
    background-color: #3e3e3e;
    border: none;
    border-radius: 5px;
}

#searchGame::placeholder {

    color: #afafaf
}

.searchGame {
    font-size: 20px;
    height: 30px;
    width: 20%;
    margin-left: 10px;
    color: whitesmoke;
    background-color: #3e3e3e;
    border: none;
    border-radius: 5px;
}

.searchGame:hover {
    background-color: #4d4d4d;
}

/*----------------------------CardGame------------------------------*/

#cardGame {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

/*---------------------OngletTwo---------------------------*/
#ongletTwo {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.scroller {
    overflow-y: scroll;
}

#ongletTwo::-webkit-scrollbar {
    width: 10px;
    /* width of the entire scrollbar */
}

#ongletTwo::-webkit-scrollbar-thumb {

    background-color: rgb(221, 221, 221);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid rgba(56, 56, 56, 0);
    /* creates padding around scroll thumb */
}

/*---------------------OngletThree---------------------------*/
#ongletThree {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    margin-top: 40px;
}

#BoiteFriend {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

#listFriends {
    height: 80%;
    width: 30%;
    margin-bottom: 6%;
    margin-left: 3%;
    border-radius: 5px;
    border: solid rgb(188, 116, 0) 0.5px;
    background-color: rgba(0, 0, 0, 0.386);
}

.scroller {
    overflow-y: hidden;
    overflow-x: scroll;
}

#listFriends::-webkit-scrollbar {
    width: 10px;
    /* width of the entire scrollbar */
}

#listFriends::-webkit-scrollbar-thumb {

    background-color: rgba(221, 221, 221, 0.436);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid rgba(56, 56, 56, 0);
    /* creates padding around scroll thumb */
}

.titleFriends {
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
    width: 20%;

}

#friends {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 15%;
    width: 90%;
    margin: 3%;
    border-radius: 5px;
    border: solid rgb(188, 116, 0) 0.5px;
    background-color: rgba(255, 255, 255, 0.09);
}

#photoFirends {
    height: 90%;
    width: 25%;
    margin-left: 2%;
    border-radius: 20%;
    background-color: rgba(255, 255, 255, 0.09);
}

#descriptFriends {
    color: whitesmoke;
    margin-left: 5%;

}

.boxFriends {
    margin: 0%;
    width: 200px;
    background-color: #959595;
}

#mainFriends {
    height: 80%;
    width: 55%;
    margin-bottom: 6%;
    margin-right: 3%;
    border-radius: 5px;
    border: solid rgb(188, 116, 0) 0.5px;
    background-color: rgba(0, 0, 0, 0.386);
}


/*---------------------OngletFour---------------------------*/
#ongletFour {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    height: 100%;
    width: 100%;
}

#titleReglage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
    width: 100%;
    margin-top: 1%;
    font-size: 20px;
    color: whitesmoke;
}

#boxReglage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 85%;
    margin-bottom: 6%;
    border-radius: 5px;
    border: solid rgb(188, 116, 0) 0.5px;
    background-color: rgba(0, 0, 0, 0.386);
}

.avatarReglage {
    height: 200px;
    width: 200px;
    border-radius: 15%;
    background-image: url('#');
    background-color: rgba(92, 92, 92, 0.353);
    border: solid rgb(188, 116, 0) 0.5px;
}

#boiteReglageG {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40%;
    margin-left: 3%;
}

.boutonReglage {
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-top: 5%;
    font-size: 15px;
    color: whitesmoke;
    background-color: rgba(92, 92, 92, 0.353);
    border: solid rgb(188, 116, 0) 0.5px;
    cursor: pointer;
    transition: 0.5s;
}

.boutonReglage:hover {
    background-color: #31313153;
    border: solid rgb(188, 116, 0) 0.5px;
    transition: 0.5s;
}

#boiteReglageD {
    height: 100%;
    width: 60%;
    margin: 0%;
}

.profilReglage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
}

.box {
    margin-top: 2%;
    height: 43px;
    width: 70%;
    font-size: 13px;
    border: solid rgb(188, 116, 0) 0.5px;
    border-radius: 3px;
    padding-left: 5%;
    color: rgb(255, 255, 255);
    background-color: hsla(0, 0%, 10%, 0.816);
}

.boutonF {
    margin-top: 2%;
    height: 30px;
    width: 40%;
    font-size: 15px;
    text-align: center;
    border: solid rgba(245, 245, 245, 0.464) 1px;
    border-radius: 3px;
    color: whitesmoke;
    background-color: rgba(92, 92, 92, 0.353);
    border: solid rgb(188, 116, 0) 0.5px;
    cursor: pointer;
}

.boutonF:hover {
    background-color: #31313153;
    transition: 0.5s;
}

.titleSkin {
    color: whitesmoke;
    margin-top: 20px;
    font-size: 30px;
}

#boiteSkin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2%;
    width: 100%;
    height: 150px;
}

#skin1,
#skin2,
#skin3,
#skin4 {
    height: 30%;
    width: 155px;
    margin: 5px;
    border: solid rgb(188, 116, 0) 0.5px;
    border-radius: 5px;
    cursor: pointer;
}

#skin1:hover {
    box-shadow: rgb(157, 112, 21) 0px 0px 5px;
    transition: 0.3s;
}

#skin2:hover {
    box-shadow: rgb(157, 112, 21) 0px 0px 5px;
    transition: 0.3s;
}

#skin3:hover {
    box-shadow: rgb(157, 112, 21) 0px 0px 5px;
    transition: 0.3s;
}

#skin4:hover {
    box-shadow: rgb(157, 112, 21) 0px 0px 5px;
    transition: 0.3s;
}

#skin1 {
    background-image: url('../img/backFive.png');
    background-size: 250%;
}

#skin2 {
    background-image: url('../img/backFour.png');
    background-size: 100%;
}

#skin3 {
    background-image: url('../img/backThree.png');
    background-size: 250%;
}

#skin4 {
    background-image: url('../img/backOne.png');
    background-size: 250%;
}

/*-----------------Skin----------------*/
.boxSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/backFive.png');
    background-color: #3e3e3e;
    background-size: 100%;
    transition: 0.5s;
}

.skinFront1,
.skinFrontHG1 {
    background-image: url('../img/backFive.png');
    background-color: #3e3e3e;
    background-size: 100%;
    transition: 0.5s;
}

.skinFront2,
.skinFrontHG2 {
    background-image: url('../img/backFour.png');
    background-size: 100%;
    transition: 0.5s;
}

.skinFront3,
.skinFrontHG3 {
    background-image: url('../img/backThree.png');
    background-size: 100%;
    transition: 0.5s;
}

.skinFront4,
.skinFrontHG4 {
    background-image: url('../img/backOne.png');
    background-size: 100%;
    transition: 0.5s;
}