
#gameCard {
margin-top: 2%;
    height: 100%;
    width: 350px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}


#titreCard {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    font-size: 20px;
    height: 20%;
    width: 100%;
    color: #cb9a1b;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

#photoCard {
    position: absolute;
    margin-top: 17%;
    z-index: 1;
    height: 70%;
    width: 100%;
    border-radius: 10px;
    background-image: url(../img/bande1.png);
    background-size: 100% 100%;
}

#infoCard {
    position: absolute;
    margin-top: 120%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 15%;
    width: 100%;
}


#buttonCardR {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-image: url('../img/return.png');
    background-size: 100% 100%;
    border: solid #ffffff 1px;
    background-color: #cb991b99;
}

/*-------------------Recto--------------------*/
.cardRecto {
    transition: all 0.2s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
}

.card-frontV {
    backface-visibility: hidden;
    background-image: hidden;
    transform: rotateY(0deg);
}

.card-back {
    backface-visibility: hidden;
    background-image: hidden;
    transform: rotateY(-180deg);
}

#backCard {
    height: 500px;
    width: 350px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}

/*----------------Verso------------------*/
#infoCardV {
    position: absolute;
    margin-top: 120%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 15%;
    width: 100%;
}

.cardVerso {
    transition: all 0.2s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

#boiteGame {
    margin-top: 28%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

#buttonCardV {
    position: relative;
    z-index: 1;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-image: url('../img/return.png');
    background-size: 100% 100%;
    border: solid #ffffff 1px;
    background-color: #cb991b99;
}

#buttonCard:hover {
    background-color: rgb(202, 150, 60);
}

#buttonCardR:hover {
    background-color: rgb(202, 150, 60);
}

#buttonCardV:hover {
    background-color: rgb(202, 150, 60);
}

#buttonCardS:hover {
    background-color: rgb(202, 150, 60);
}

#statGame {
    height: 80%;
    width: 90%;
}

/*--------Icons--------*/
.starsGame {
    background-image: url('../img/stars.png');
    background-size: 100% 100%;
}

#buttonCardS {
    position: relative;
    z-index: 1;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: solid #ffffff 1px;
    background-color: #cb991b99;
}

/*---------------- barre de progression ------------------*/
:root {
    --success: #00b894;
    --progress: #e17055;
}

.progressbar-wrapper {
    text-align: center;
    background-color: #cb991b56;
    color: white;
    border-radius: 5px;
    height: 50%;
    width: 40%;

}

.progressbar {
    background-color: var(--progress);
    color: white;
    font-size: 33px;
    border-radius: 5px;
}

.progressbar[title="downloading"] {
    background-color: var(--progress);
}

.progressbar[title="downloaded"] {
    background-color: var(--progress);
}

.mp4 {
    width: 70%;
}

/*---------------- barre de progression ------------------*/
#stateGameCard {
    position: absolute;
    z-index: 1;
    height: 80%;
    width: 100%;
}
#statsGame {
    margin-top: 96%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
#trophéeCard {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
}
#iconGame {
    margin-top: 130%;
    margin-left: 5%;
    height: 70px;
    width: 70px;
}
#iconGame1 {
    margin-top: 3%;
    margin-left: 5%;
    height: 50px;
    width: 70px;
}