
#navBar {
    height: 100px;
    background-color: #7d8d9a;
}

#footer {
    position: absolute;
    z-index: 1;
    height: 200px;
    background-color: #779cab;
}

* {
    margin: 0%;
    padding: 0%;

}

/*--------------------------------------*/


#logo {
    position: absolute;
    margin: 4px;
    margin-left: 20px;
    height: 90px;
}

#corps {
    display: flex;
    padding: 5%;
    justify-content: center;
    align-content: center;
    background-image: url('../img/background.png');
}


#boiteConex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0.5%;
}

#boiteConex2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0.1%;
}

.bouton {
    text-decoration: none;
    height: 20px;
    margin: 0.2%;
    width: 7.5%;
    font-size: 90%;
    justify-content: center;
    text-align: center;
    border: solid whitesmoke 1px;
    border-radius: 3px;
    color: whitesmoke;
    background-color: #47877d;
}

.bouton:hover {
    background-color: #366860;
}

.input {
    height: 20px;
    margin: 0.1%;
    width: 15%;
    text-align: center;
    border: solid whitesmoke 1px;
    border-radius: 3px;
    color: whitesmoke;
    background-color: #ffffff2b;
}

::placeholder {
    color: rgba(255, 255, 255, 0.506);
}

/*-----------------------------------------*/