#corps {
    flex-direction: column;
    align-items: center;
    background-image: url('../img/backFive.png');
    background-size: 60%;
}

#BoiteGame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    height: auto;
    width: 79%;
    background-size: 100%;
    border-radius: 5px;
}

/*-------------------------Volet-Gauche--------------------------*/
#voletG {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 100%;
    width: 40%;
    transition: 1s;
}

#boiteBoutonGame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90%;
}

#boiteLike {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 5%;
}

#like {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: solid whitesmoke 1px;
    background-color: #b3b3b368;
    backdrop-filter: blur(3px);

}

#noLike {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: solid whitesmoke 1px;
    background-color: #b3b3b368;
    backdrop-filter: blur(3px);
}

.boutonlike {
    font-size: 40px;
    color: whitesmoke;
}

#Description,
#Trophées {
    height: 50px;
    width: 90%;
    margin-top: 10%;
    font-size: 20px;
    border: solid whitesmoke 1px;
    border-radius: 5px;
    color: whitesmoke;
    background-color: #b3b3b368;
    backdrop-filter: blur(3px);
}

#boitePrésentation {
    margin: 10%;
}

/*-------------------------Volet-Droit--------------------------*/
#voletD {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#boiteDescription {
    z-index: 1;
    height: auto;
    width: 750px;
    background-color: rgba(31, 111, 22, 0.447);
}

#boiteTrophée {
    z-index: 1;
    height: auto;
    width: 750px;
}

.VisibleGame {
    position: relative;
    opacity: 100%;
    transition: 1s;
}

.NoVisibleGame {
    position: absolute;
    opacity: 0%;
    visibility: hidden;
    display: none;
    transition: 1s;
}



.trophées {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 4%;
    height: 65px;
    width: 90%;
    border: solid rgb(188, 116, 0) 0.5px;
    border-radius: 5px;
    background-color: rgba(25, 25, 25, 0.653);
}

.imgBox {
    height: 100px;
}

.textBox {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 5%;
    width: 60%;
    list-style-type: none;
}

.textBox1 {
    font-size: 20px;
    color: whitesmoke;
}

.textBox2 {
    font-size: 15px;
    color: rgb(215, 215, 215);
    margin-bottom: 2%;
}

@media all and (max-width: 1024px) {

    #BoiteGame {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        height: auto;
        margin-top: 10px;
        height: auto;
        width: 1000px;
        background-size: 100%;
    }

    #voletG {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        margin-top: 0%;
        margin-bottom: 0%;
    }

    #boiteBoutonGame {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100px;
        width: 90%;
        margin-bottom: 5%;
    }

    #boiteLike {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin-top: 0%;
    }

    #like {
        height: 90px;
        width: 90px;
        border-radius: 100%;
        border: solid whitesmoke 1px;
        background-color: #b3b3b368;
        backdrop-filter: blur(3px);

    }

    #noLike {
        height: 90px;
        width: 90px;
        border-radius: 100%;
        border: solid whitesmoke 1px;
        background-color: #b3b3b368;
        backdrop-filter: blur(3px);
    }

    .boutonlike {
        font-size: 50px;
        color: whitesmoke;
    }



    #Description,
    #Trophées {
        height: 50px;
        width: 80%;
        margin-top: 0%;
        margin-left: 5%;
        font-size: 20px;
        border: solid whitesmoke 1px;
        border-radius: 5px;
        color: whitesmoke;
        background-color: #b3b3b368;
        backdrop-filter: blur(3px);
    }

    #voletD {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .trophées {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 3%;
        width: 90%;
        height: 90px;
        border: solid rgb(188, 116, 0) 0.5px;
        border-radius: 5px;
        background-color: rgba(25, 25, 25, 0.653);
    }

    .imgBox {
        height: 120px;
    }

    .textBox {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 5%;
        width: 60%;
        list-style-type: none;
    }

    .textBox1 {
        font-size: 30px;
        color: whitesmoke;
    }

    .textBox2 {
        font-size: 20px;
        color: rgb(215, 215, 215);
        margin-bottom: 2%;
    }
}