
    #corps {
        flex-direction: column;
        align-items: center;
    }

    #BoiteGame {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
        height: auto;
        width: 100%;
        border: solid rgb(188, 116, 0) 0.5px;
        background-image: url('../img/backFour.png');
        background-size: 100%;
        border-radius: 5px;
    }

    #voletG {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
        height: 100%;
        width: 30%;
    }

    #boitePrésentation {
        margin: 10%;
    }

    #voletD {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }


    .trophées {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 4%;
        height: 65px;
        width: 90%;
        border: solid rgb(188, 116, 0) 0.5px;
        border-radius: 5px;
        background-color: rgba(25, 25, 25, 0.653);
    }

    .imgBox {
        height: 100px;
    }

    .textBox {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 5%;
        width: 60%;
        list-style-type: none;
    }

    .textBox1 {
        font-size: 20px;
        color: whitesmoke;
    }

    .textBox2 {
        font-size: 15px;
        color: rgb(215, 215, 215);
        margin-bottom: 2%;
    }

@media all and (max-width: 1024px) { 

    #BoiteGame {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        height: auto;
        margin-top: 10px;
        height: auto;
        width: 100%;
        border: solid rgb(188, 116, 0) 0.5px;
        background-image: url('../img/backFour.png');
        background-size: 100%;
        border-radius: 5px;
    }

    #voletG {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 40%;
    }

    #voletD {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .trophées {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 3%;
        width: 90%;
        height: 90px;
        border: solid rgb(188, 116, 0) 0.5px;
        border-radius: 5px;
        background-color: rgba(25, 25, 25, 0.653);
    }

    .imgBox {
        height: 120px;
    }

    .textBox {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 5%;
        width: 60%;
        list-style-type: none;
    }

    .textBox1 {
        font-size: 30px;
        color: whitesmoke;
    }

    .textBox2 {
        font-size: 20px;
        color: rgb(215, 215, 215);
        margin-bottom: 2%;
    }
}